.page-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 12.5rem;
}

.page-loader .kombos-spinner {
  font-size: 2rem;
  color: var(--kombos-gray-500);
}
